{% extends '/layout/front.html.twig' %}

{% block metaDescription %}La page d'accueil de mon site{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block style %}{% endblock %}

{% block body %}

    <div class="all">
        <h2>Connectez-vous</h2>
        <div class="content">
            <div class="form log" id="addform">
                <form action="" method="post" id="form-link">
                    <div class="form-group">
                        <label for="username">Identifiant</label>
                        <input type="text" name="username" id="username" placeholder="Username or Mail address" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" name="password" id="password" placeholder="Password" required>
                    </div>

                    <button type="submit" id="btn-form">Connexion</button>
                </form>
            </div>
        </div>
        {# <small><a href="#">Pas encore inscrit ?</a> <a href="#">Mot de passe oublié ?</a></small> #}
    </div>

{% endblock %}

{% block script %}
    <script>
        
    </script>
{% endblock %}