{% extends '/layout/front.html.twig' %}

{% block stylesheets %}
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="assets/styles/styles.css" />
{% endblock %}

{% block title %}404 NOT FOUND{% endblock %}

{% block body %}
	<div class="found">
		<a href="{{ uri('home') }}">Retourner à l'accueil</a>
		<div id="notfound">
			<div class="notfound">
				<h3>Oups! Page introuvable</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
				<h2>Nous sommes désolés, la page demandée est inconnue de nos serveurs</h2>
			</div>
		</div>
	</div>

{% endblock %}